.wrapper {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card {
  padding-right: 30px;
  margin-bottom: 10px;
  min-height: 160px;
}
.card:hover {
  /* padding-right: 30px;
  margin-bottom: 10px; */
  scale: 1.05;
}

.img {
  height: 120px;
}

.label {
  margin-block: 0px;
  text-align: center;
  font-size: medium;
}
.p {
  border-bottom: 4px solid red;
  width: 100%;
  transition: 0.2s;
}

@media (max-width: 675px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .card {
    padding-right: 20px;
    min-height: 175px;
  }
  .img {
    height: 140px;
  }
  .label {
    font-size: 14px;
  }
}

/* @media (max-width: 530px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .card {
    padding-right: 20px;
    min-height: 130px;
  }
  .img {
    height: 100px;
  }
  .label {
    font-size: 12px;
  }
} */

@media (max-width: 530px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .card {
    padding-right: 20px;
    min-height: 130px;
  }
  .img {
    height: 120px;
  }
  .label {
    font-size: 14px;
  }
}

@media (max-width: 467px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .card {
    padding-right: 20px;
    min-height: 130px;
  }
  .img {
    height: 100px;
  }
  .label {
    font-size: 12px;
  }
}
