.grid {
  display: grid;
  grid-template-columns: 345px 345px 345px;
  gap: 20px;
  @media (max-width: 1200px) {
    grid-template-columns: 280px 280px 280px;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 345px 345px;
    justify-content: center;
  }
  @media (max-width: 800px) {
    grid-template-columns: 345px;
    justify-content: center;
  }
}
